:root{
    --primary-color: #e50914;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    --webkit-font-smoothing:antialiased;
    background: #000 url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    /*background-position: center center; */
    color: #999;
}

ul{
    list-style: none;
}

h1, h2, h3, h4{
    color: #fff;
}

a{
    color: #fff;
    text-decoration:none;
}
.showcase-content {
    text-align: center;
    font-size: large;
    top: 300px;
    position: relative;
}


